*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#container{
	width:500px;
	height:835px;
	text-align:center;
	font-family:"Courier new";
	transform:translate(715px,60px);
	border:1px solid #7aff12;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	box-shadow:5px 10px 18px #888888;
}
h1{
	padding:40px;
	font-size:40px;
}
#username,#password,#email,#phonenumber{
	width:275px;
	font-size:20px;
	border:none;
	display:block;
	margin:0 auto;
	text-align:center;
	font-family:"Courier new";
	border-bottom:2px solid #7aff12;
	outline:none;
	padding:10px;
}
.space{
	margin:45px;
}
#pass{
	margin:20px;
	display:flex;
	align-items:center;
	transform:translate(12px,0);
}
span{
	color:#a2a2a2;
	transform:translate(-60px,0);
	cursor:pointer;
}
form{
	display:inline-block;
}
#alert{
	font-size:15px;
	width:400px;
	margin:0 auto;
	color:#ff4f30;
}
#submit{
	background:none;
	border:none;
	text-transform:uppercase;
	padding:10px;
	border:1px solid #7aff12;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	font-family:"Courier new";
	font-size:18px;
	outline:none;
}
#submit:hover{
	background:#7aff12;
}
#login{
	display:inline-block;
	text-decoration:none;
	margin-top:20px;
	border:1px solid #7aff12;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	padding:7px;
}
#login:hover{
	background:#7aff12;
}
	